name: Release

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: 3.12.1

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Build and Test
      run: pytest

    - name: Extract version number
      id: extract_version
      run: echo "VERSION=$(echo $GITHUB_REF | sed 's/^refs\/tags\/v//; s/^v//')" >> $GITHUB_ENV

    - name: Create GitHub Release
      uses: actions/create-release@v1
      with:
        tag_name: ${{ steps.extract_version.outputs.VERSION }}
        release_name: Release ${{ steps.extract_version.outputs.VERSION }}
        body: |
          Release ${{ steps.extract_version.outputs.VERSION }}
        draft: false
        prerelease: false

    - name: Upload Artifacts
      uses: actions/upload-artifact@v2
      with:
        name: release-artifacts
        path: dist
